/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~reset.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(./static/images/light_toast_@2X.png);
  background-repeat: repeat;
  background-size: 200px;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  width: calc(100% - (20px * 2));
  height: calc(100% - (20px * 4));
  max-width: 1024px;
  margin: 20px auto;
  box-sizing: border-box;
  background: rgba(255, 255, 255, .9);
  box-shadow: 2px 2px 9px #ccc;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}
